@import "../../style/mixin";
.con2_wrapper{
  margin: 0 auto;
  padding: 130px 0;
  height: 270px;
  box-sizing: content-box;
  max-width: 1200px;
  width: 100%;
  background-size: 100% 100%;
  position: relative;
 .con2_img_wrapper{
   .wh(40%,100%);
   left: 0;
   position: absolute;
   &>span{
     display: inline-block;
     width: 50%;
     //.wh(55%,50vh);
     //line-height: 50vh;
     right: 40%;
     position: absolute;
     img{
       vertical-align: middle;
     }
   }
 }
  .con2_info_wrapper{
    .wh(40%,auto);
    position: absolute;
    right: 0;
    h1,p{
      width: 100%;
    }
  }
}
//翻转
.con2_wrapper.opposite{
  .con2_img_wrapper{
    .wh(46%,100%);
    right: 0;
    left: auto;
    &>span{
      right: auto;
      left: 0%;
    }
  }
  .con2_info_wrapper{
    .wh(40%,auto);
    left: 7%;
    right:auto;
  }
}
.con2_wrapper.content_bg{
  height:337px;
}

@media screen and (max-width: 767px) {
  .con2_wrapper,.con2_wrapper.opposite{
    padding:50px 0;
    height:290px;
    .con2_img_wrapper{
      .wh(100%,150px);
      position: relative;
      margin-bottom: 25px;
      span{
        .wh(90%,auto);
        right:0;
        left:0;
        margin: auto;
        img{
          max-width: 100%;
        }
      }
    }
    .con2_info_wrapper{
      text-align: center;
      width: 90%;
      position: relative;
      margin:0 auto;
      h1,p{
        width: 100%;
      }
      h1{
        font-size: 20px;
      }
      p{
        font-size: 12px;
      }
    }
  }
  .con2_wrapper.opposite{
    height: 390px;
    .con2_img_wrapper {
      .wh(100%, 256px);
    }
    .con2_info_wrapper {
     left: auto;
    }
  }
}